DATABASE_URL="postgresql://username:password@host:port/database"
S3_ACCESS_KEY="YOUR_S3_ACCESS_KEY"
S3_SECRET_KEY="YOUR_S3_SECRET_KEY"
S3_BUCKET_NAME="YOUR_S3_BUCKET_NAME"

GCP_PROJECT_ID="YOUR_GCP_PROJECT_ID"
GCP_REGION="us-central1"
